Basic code to cleanup the data and test the models

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 
 
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.linear_model import LogisticRegression
 
training_data = pd.read_csv('../input/train.csv')
test_data = pd.read_csv('../input/test.csv')

#training_data['PassengerId'] = training_data['PassengerId'].apply(lambda x: 33 if x < 3 else x)
training_data["Age"].fillna(40,inplace=True)
training_data.tail(50)
 
gender = pd.get_dummies(training_data['Sex'],drop_first=True)
gender.head()
training_data['male'] = gender
training_data.tail(50)

training_embarked_dummy = pd.get_dummies(training_data['Embarked'])
training_data['embarked_C'] = training_embarked_dummy['C']
training_data['embarked_Q'] = training_embarked_dummy['Q']
training_data['embarked_S'] = training_embarked_dummy['S']

#training_pclass_dummy = pd.get_dummies(training_data['Pclass'])
#training_data['pclass_1'] = training_pclass_dummy[1]
#training_data['pclass_2'] = training_pclass_dummy[2]
#training_data['pclass_3'] = training_pclass_dummy[3]

#training_data.drop(['PassengerId','Name','Sex','Embarked','Cabin','Fare'])
training_data.drop(['PassengerId','Name','Sex','Embarked','Cabin','Fare','Ticket'],axis=1,inplace=True)
training_data.tail(50)
 
y = training_data['Survived']
training_data.drop('Survived', axis=1,inplace=True)

#training_data.info()


logreg = LogisticRegression()
logreg.fit(training_data, y)
logreg.score(training_data, y)


###########
test_data["Age"].fillna(40,inplace=True)
#training_data.tail(50)
 
gender = pd.get_dummies(test_data['Sex'],drop_first=True)
#gender.head()
test_data['male'] = gender
#training_data.tail(50)


test_embarked_dummy = pd.get_dummies(test_data['Embarked'])
test_data['embarked_C'] = test_embarked_dummy['C']
test_data['embarked_Q'] = test_embarked_dummy['Q']
test_data['embarked_S'] = test_embarked_dummy['S']

#test_pclass_dummy = pd.get_dummies(training_data['Pclass'])
#test_data['pclass_1'] = test_pclass_dummy[1]
#test_data['pclass_2'] = test_pclass_dummy[2]
#test_data['pclass_3'] = test_pclass_dummy[3]


#pd.concat([training_data,xx])
#gender2.head()
 
#training_data.drop(['PassengerId','Name','Sex','Embarked','Cabin','Fare'])
test_passenger_id = test_data['PassengerId']
test_data.drop(['PassengerId','Name','Sex','Embarked','Cabin','Fare','Ticket'],axis=1,inplace=True)
test_data.tail(50)
 
#y = training_data['Survived']
#training_data.drop('Survived', axis=1,inplace=True)
res = logreg.predict(test_data)
test_data.info()
#test_pass_id[0]

final_res = pd.DataFrame({
        "PassengerId": test_passenger_id,
        "Survived": res
    })


final_res.to_csv('titanic_res_2.csv', index=False)

final_res

#test_data.head()
#y_pred = logreg.predict(test_data)
#from sklearn.metrics import confusion_matrix
#confusion_matrix = confusion_matrix(y_test, y_pred)
#print(confusion_matrix)
 
#training_data.append(xx)
#training_data.head()
#training_data.info()
#train_data["Age"].fillna(28, inplace=True)
#training_data.info()
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory
 
#from subprocess import check_output
#print(check_output(["ls", "../input"]).decode("utf8"))
#from subprocess import check_output
#print(check_output(["ls", "../input"]).decode("utf8"))
# Any results you write to the current directory are saved as output.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
Pclass        418 non-null int64
Age           418 non-null float64
SibSp         418 non-null int64
Parch         418 non-null int64
male          418 non-null uint8
embarked_C    418 non-null uint8
embarked_Q    418 non-null uint8
embarked_S    418 non-null uint8
dtypes: float64(1), int64(3), uint8(4)
memory usage: 14.8 KB

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         0
21           913         0
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         1
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         1
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]